<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <title>{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description | strip_html }}" />

    <link rel="alternate" type="application/rss+xml" href="{RSS}" />

    <link href="//get.pictos.cc/fonts/2215/1" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="//static.kswizz.com/style.css" type="text/css" media="screen" charset="utf-8" />

    <link rel="icon" href="//static.kswizz.com/images/favicon.png" type="image/png" />

    <script src="//static.kswizz.com/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//static.kswizz.com/jquery.lightbox.js" type="text/javascript" charset="utf-8"></script>
    <script src="//static.kswizz.com/less-1.3.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//static.kswizz.com/source.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

    <header>
        <div id="title">
            <a href="/">
                <div id="crown"></div>
                <h1>Kenneth Ballenegger</h1>
                <p>“I’m a developer and designer. I love making cool stuff.”</p>
            </a>
        </div>
    </header>

    <div id="lightbox" class="hidden"></div>

    <div id="container">

        <div id="sidebar">

            <p><img id="headshot" src="//static.kswizz.com/images/photo.png" alt="Kenneth Ballenegger" /></p>
            <p id="about">
                {{ site.description }}
            </p>

            <nav>
                <ul>
                    <li><span class="pictos">@</span><a href="mailto:kenneth@ballenegger.com">Send me an email</a></li>
                    <li><span class="pictos">r</span><a href="http://kenneth.ballenegger.com/dl/resume2014.pdf" target="_blank">View my resum&eacute;</a></li>
                    <hr />
                    <div class="nav-section-title">Categories</div>
                    <li><span class="pictos">a</span><a href="//kswizz.com/tagged/articles">Articles</a></li>
                    <li><span class="pictos">d</span><a href="//kswizz.com/tagged/development">Software &amp; Development</a></li>
                    <li><span class="pictos">s</span><a href="//kswizz.com/tagged/schoolwork">Schoolwork</a></li>
                    <li><span class="pictos">p</span><a href="//kswizz.com/tagged/photography">Photography</a></li>
                </ul>
            </nav>

            <footer>
                <p><a href="//kswizz.com/archive">Archive</a></p>
                <p>Copyright © Kenneth Ballenegger</p>
            </footer>

        </div>

        <div id="content">

            <!-- posts-start -->
