<div id="sidebar">

    <p><img id="headshot" src="/static/images/photo.png" alt="Kenneth Ballenegger" /></p>
    <p id="about">
        {{ site.description }}
    </p>

    <nav>
        <ul>
            <li><span class="pictos">@</span><a href="mailto:kenneth@ballenegger.com">Send me an email</a></li>
            <li><span class="pictos">r</span><a href="http://kenneth.ballenegger.com/dl/resume2014.pdf" target="_blank">View my r&eacute;sum&eacute;</a></li>
            <hr />
            <div class="nav-section-title">Categories</div>
            <li><span class="pictos">a</span><a href="/tagged/articles">Articles</a></li>
            <li><span class="pictos">d</span><a href="/tagged/development">Software &amp; Development</a></li>
            <li><span class="pictos">s</span><a href="/tagged/schoolwork">Schoolwork</a></li>
            <li><span class="pictos">p</span><a href="/tagged/photography">Photography</a></li>
        </ul>
    </nav>

    <footer>
        <p><a href="/archive">Archive</a></p>
        <p>Copyright © Kenneth Ballenegger</p>
    </footer>

</div>

